body {
    margin-top: 30px;
    background-image: url("practice.jpeg");
    background-size: cover;
    height: 100vh;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
}
.container {
    max-width: 65%;
    border: 2px solid rgb(46, 25, 25);
    margin: auto;
    border-radius: 10px;
    background-color: rgba(246, 241, 241, 0.50);
}

h1 {
   
    font-weight: 500;
    font-size: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 75px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 65px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;   
} 


button {
    display: block;
    margin: 5px auto;
    border: none;
    padding: 2px 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(12, 107, 197);
}

#save-btn {
    background: rgb(235, 156, 8);
}

